body{
    background-color: black;
}
#relogio{
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 520px;
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%,-50%);
}
#hora{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100px;
  text-align: center;
  color: rgb(0, 255, 106); 
}

#data{
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  position: relative;
  left: 41.7%;
  bottom: 30px;
  color: rgb(134, 134, 134);
}

#am-pm{
 font-size: 30px;
 margin-left: 4px;
}

#config{
  width: 20px;
  position: absolute;
  top: 90%;
  right: 50%;
  left: auto; 
  /*Efeito de transição para voltar a posição inicial*/
  transition: 400ms;
  transform: rotate(0deg); 
}

#config:hover{
  /*Efeito de transição para rotacionar*/
  transition: 400ms;
  transform: rotate(90deg); 
}

#refresh{
  width: 20px;
  position: absolute;
  top: 80%;
  right: 50%;
  left: auto; 
}

.seletor {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 } /*Serve para impossibilitar a seleção do texto.*/
